{% if page.gallery.link_to %}
  <button
    class="gallery__tile gallery__tile-link gallery__tile-link--locked"
    aria-label="Locked gallery access dialog"
    role="gridcell"
    data-link-to="{{ page.gallery.link_to }}"
  ></button>
  <!-- :P - Welcome in, curious mind -->
  {% include gateway__access-panel.html %}
{% else %}
  <a
    href="../main"
    class="gallery__tile gallery__tile-link"
    aria-label="Link to main gallery"
    role="gridcell"
  >
    <strong>MAIN</strong>
  </a>
{% endif %}
