{% if gallery.link_to %}
  {% assign linked_gallery = site.data.galleries[gallery.link_to] %}

  {% if linked_gallery.nsfw %}
    <button
      href="javascript:void(0)"
      class="gallery__tile gallery__tile-link gallery__tile-link--locked"
      aria-label="Locked gallery access dialog"
      role="gridcell"
    ></button>
    {% include gateway__access-panel.html %}
  {% else %}
    <a
      href="../{{ gallery.link_to }}/"
      class="gallery__tile gallery__tile-link"
      aria-label="Link to {{ linked_gallery.title }} gallery"
      role="gridcell"
    >
      <strong>{{ linked_gallery.title }}</strong>
    </a>
  {% endif %}
{% endif %}
