{% if page.gallery.music %}
<script src="{{ '/assets/js/gallery__music-embed.js' | relative_url }}"></script>

<div class="gallery__music-embed"
{% if page.gallery.music.spotify %}
  data-music-service="spotify"
>
  <iframe
    class="gallery__music-embed__spotify"
    src="https://open.spotify.com/embed/track/{{ page.gallery.music.spotify }}?utm_source=generator&theme=0"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
    title="Gallery Soundtrack">
  </iframe>
{% elsif page.gallery.music.soundcloud %}
  data-music-service="soundcloud"
>
  {% assign sc_url = "https%3A//soundcloud.com/" | append: page.gallery.music.soundcloud %}
  <iframe
    class="gallery__music-embed__soundcloud"
    src="https://w.soundcloud.com/player/?url={{ sc_url }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    frameBorder="0"
    allow="autoplay"
    loading="lazy"
    title="Gallery Soundtrack">
  </iframe>
{% endif %}

  <button class="gallery__music-embed__close" aria-label="Close music player">×</button>
</div>
{% endif %}
