<script src="{{ '/assets/js/gallery__media-viewer.js' | relative_url }}"></script>

<div
  class="overlay gallery__media-viewer"
  role="dialog"
  aria-modal="true"
  aria-labelledby="gallery__media-viewer__caption"
  aria-hidden="true"
>
  <img
    class="gallery__media-viewer__image"
    src=""
    alt=""
    style="display: none;"
  >
  <video
    class="gallery__media-viewer__video"
    controls
    preload="metadata"
    style="display: none;"
    aria-label="Gallery video"
  >
    <source src="" type="">
    Your browser does not support the video tag.
  </video>
  <div class="gallery__media-viewer__loading-indicator" aria-label="Loading content"></div>
  <div class="gallery__media-viewer__caption"></div>
  <button
    class="overlay__btn--close gallery__media-viewer__close"
    aria-label="Close gallery media viewer"
  >&times;</button>
	<button class="gallery__media-viewer__prev" aria-label="Previous image">&#8249;</button>
	<button class="gallery__media-viewer__next" aria-label="Next image">&#8250;</button>
</div>
