{% for media in page.gallery.media %}
<button
  class="gallery__tile gallery__tile--media"
  data-src="{{ media.filename }}"
  data-caption="{% if page.captions[media.filename] %}{{ page.captions[media.filename] | escape }}{% endif %}"
  data-is-video="{% if media.type == 'video' %}true{% else %}false{% endif %}"
  data-index="{{ forloop.index0 }}"
  role="gridcell"
  aria-label="View {%
    if page.captions[media.filename] %}
      {{ page.captions[media.filename] }}
    {% else %}
      {{ media.type }} {{ forloop.index }} of {{ page.gallery.media.size }}
    {% endif %}
  ">
  <img
    class="gallery__tile__thumbnail"
    src="thumbs/{{ media.thumbnail }}"
    alt="{{ page.captions[media.filename] }}"
    title="{{ page.captions[media.filename] }}"
    loading="lazy"
  >
  {% if media.type == 'video' %}
  <div class="gallery__tile__video-indicator" aria-hidden="true"></div>
  {% endif %}
</button>
{% endfor %}
