<script src="{{ '/assets/js/gateway__access-panel.js' | relative_url }}"></script>

<div
  class="overlay gateway__access-panel"
  role="dialog"
  aria-modal="true"
  aria-labelledby="gateway__access-panel__title"
  aria-hidden="true"
>
	<div class="gateway__access-panel__content">
    <!-- <h2 class="gateway__access-panel__title">Access Code</h2> -->

    <div class="gateway__access-panel__form">
      <!-- <label for="access-panel" class="gateway__access-panel__label">
        Enter Access Code:
      </label> -->
      <input
        type="password"
        class="gateway__access-panel__input"
        placeholder="••••••••  🗝️"
        autocomplete="off"
        spellcheck="false"
      >
      <button type="submit" class="gateway__access-panel__submit"></button>
    </div>

    <div
      class="gateway__access-panel__message"
      role="status"
      aria-live="polite"
    >
      <!-- Dynamic messages will appear here -->
    </div>
	</div>
	<button
    class="overlay__close gateway__access-panel__close"
    aria-label="Close gallery access overlay"
  >
    &times;
  </button>
</div>
