ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: white;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(32%, 120px), 1fr));
  gap: 2px;
  @media screen and (min-width: 920px) {
    grid-template-columns: repeat(auto-fill, minmax(max(120px, 14%), 1fr));
    gap: 4px;
  }

  justify-content: center;
  a {
    text-decoration: none;
    line-height: 0;
    &:hover {
      opacity: 0.8;
      transition: all 0.1s ease-in-out;
    }
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
}
