@import 'animations/outward-background-wave';
@import 'animations/scanline-gradient';
@import 'variables';

body {
  margin: 0;
  color: $color-primary;
  text-align: center;
  font-family: $font-primary;
  background: $color-bg;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  @include outward-background-wave;
  @include scanline-gradient;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

a {
  color: $color-primary;
  text-decoration: none;
}

ul {
  list-style-type: square;
  padding-left: 1.5rem;
  line-height: 1.6;
}
