@import 'variables';

button {
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: $font-primary;
  color: $color-primary;
  font-size: medium;
  font-weight: bold;
}

.btn--red {
  @extend button;
  padding: $padding-btns-inputs;
  border: $border-primary;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  background: $color-bg;
  box-shadow: $box-shadow-primary;

  &:hover, &:focus {
    color: $color-bg;
    background: $color-primary;
    box-shadow: none;
  }

  &:active {
    transform: $state-active-transform;
  }

  &.disabled, &:disabled {
    filter: grayscale(100%);
    box-shadow: none;
    cursor: not-allowed;

    &:hover, &:focus {
      color: $color-primary;
      background: $color-bg;
    }

    &:active {
      transform: none;
    }
  }
}

.btn--green {
  @extend .btn--red;
  background: $color-secondary;
  color: $color-bg;
  border-color: $color-secondary;
  box-shadow: $box-shadow-secondary;

  &:hover, &:focus {
    background: $color-bg;
    color: $color-secondary;
  }
}
