@import 'mixins/breath-transform';
@import 'variables';

.error-page {
  margin: auto;
  padding: $padding-primary;
  @include breath-transform(1.02);
  max-width: $layout-max-text-width;

  &__status-code {
    margin: 0;
    font-size: 6rem;
    font-family: $font-secondary;
    color: $color-primary-dim;
  }

  &__home-link {
    display: inline-block;
    margin-top: 0.5rem;
    text-transform: none;
  }
}
