@import 'animations/breath-transform';
@import 'variables';

.error-page {
  align-self: center;
  padding: $padding-primary;
  @include breath-transform(1.02);

  &__status-code {
    margin: 0;
    font-size: 6rem;
    font-family: $font-secondary;
    color: $color-primary-dim;
  }

  &__description {
    margin: auto;
    max-width: $layout-max-text-width;
  }

  &__home-link {
    margin-top: 1.5rem;
    text-transform: none;
  }
}
