@import 'animations/breath-transform';
@import 'variables';

.error-page {
  flex: 1;
  max-width: $layout-max-text-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-primary;

  @include breath-transform();

  &__status-code {
    margin: 0;
    font-size: 6rem;
    font-family: $font-secondary;
    color: $color-primary-dim;
  }

  &__home-link {
    margin-top: 1.5rem;
    text-transform: none;
  }
}
