@import 'variables';

footer {
  padding: $padding-primary;
  border-top: $border-bg;
  background: $color-bg;
}

.footer-link {
  text-wrap: nowrap;
  &:hover, &:focus {
    text-decoration: underline;
  }
}
