@import 'variables';

.gallery-media-viewer {
  &__content {
    position: relative;
    max-width: 90vw;
    max-height: 90vh;
  }

  &__image,
  &__video {
    max-width: 100%;
    max-height: 85vh;
    object-fit: contain;
    cursor: pointer;
    &:focus {
      outline: none;
      border: none;
    }
  }

  &__close,
  &__prev,
  &__next {
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: $font-secondary;
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
    padding: 0.5rem;
    opacity: 0.6;

    &:hover, &:focus {
      color: $color-primary;
      background: transparent;
      outline: none;
      opacity: 0.3;
    }
  }

  &__close {
    top: 20px;
    right: 20px;
  }

  &__prev {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__next {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__caption {
    visibility: hidden;
    max-width: $layout-max-text-width;

    .clearing-link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Hide navigation buttons on small screens
@media (max-width: $layout-min-hide-on-mobile) {
  .gallery-media-viewer {
    &__prev,
    &__next {
      display: none;
    }
  }
}
