@import 'variables';

.gallery__tile {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
  background: $color-bg-primary-dim;

  &:hover {
    opacity: 0.8;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0.5rem;
    background: $color-bg-dim;
  }

  &__video-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-left: 2rem solid #fff;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    pointer-events: none;
  }
}
