.gallery__music-embed {
	position: fixed;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 900;

  &__close {
    position: absolute;
    top: -0.5rem;
	  right: -0.5rem;
    width: 1.5rem;
	  height: 1.5rem;
    padding: 0;
    background: $color-bg;
    box-shadow: none;
    border-radius: 50%;
    color: $color-bg-opposite;
    border: none;

    &:hover {
      background: $color-bg-dim;
      color: $color-bg-opposite;
      transform: scale(1.1);
    }
  }

  &__spotify {
    height: 5rem;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  &__soundcloud {
    height: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
}

// Add bottom padding when music player is visible
body.has-music-embed {
  &--spotify {
    padding-bottom: 5rem;
  }
  &--soundcloud {
    padding-bottom: 10rem;
  }
}
