$grid-template--sm: repeat(auto-fill, minmax(min(32vw, 120px), 1fr));
$grid-template--lg: repeat(auto-fill, minmax(max(120px, 14vw), 1fr));

.gallery-grid {
  flex: 1;
  display: grid;
  grid-template-columns: $grid-template--sm;
  gap: 2px;

  @media (min-width: 920px) { // todo: ???
    grid-template-columns: $grid-template--lg;
    gap: 4px;
  }
}
