@import 'mixins/breath-transform';
@import 'variables';

.gateway__access-panel {
  &__form {
    @extend .gateway;
    padding: $padding-primary;
    width: 20rem;
    display: grid;
    gap: 1.5rem;

    @include breath-transform(1, 0.98);
  }

  &__heading {
    margin: 0;
    text-shadow: $text-shadow-primary;
  }

  &__submit {
    @extend .btn--red;

    &::after {
      content: ' 🔒';
    }

    &--success {
      &::after {
        content: ' 🔓';
      }
      @extend .btn--green;
    }
  }

  &__message {
    margin: 0;
    height: 3rem;
    color: $color-primary-dim;

    &--error {
      color: $color-primary;
    }

    &--success {
      color: $color-secondary;
    }

    &--initial {
      font-size: 2rem;
      text-shadow: $text-shadow-primary;
    }
  }
}
