@import 'mixins/breath-transform';
@import 'variables';

.gateway__nsfw-warning {
  cursor: not-allowed;

  &__content {
    margin: auto;
    max-width: $layout-max-text-width;
    padding: $padding-primary;

    cursor: default;
    @include breath-transform(1, 0.98);

    // border: $border-primary;
    // box-sizing: border-box;
  }

  &__heading {
    text-shadow: $text-shadow-primary;
    margin-top: 0;
  }

  &__text {
    &__adult-media {
      color: $color-bg-opposite;
    }

    &__descriptions {
      text-align: left;
      justify-self: center;
      color: $color-bg-opposite-dim;
      margin-top: 0;
    }

    &__first-amendment {
      color: $color-bg-opposite;
    }

    &__viewer-discretion {
      color: $color-warning-red;
      margin-bottom: 2rem;
      font-weight: normal;
    }

    &__age-disclaimer {
      font-style: italic;
      color: $color-bg-mid;
      margin-top: 2rem;
    }
  }

  &__actions {
    display: grid;
    gap: 1rem;
  }
}
