@import 'mixins/breath-transform';
@import 'variables';

.gateway__nsfw-warning {
  cursor: not-allowed;

  &__form {
    @extend .gateway;
    padding: $padding-primary;
    cursor: default;
    display: grid;
    gap: 1rem;

    @media (min-width: $layout-max-text-width) {
      @include breath-transform(1, 0.99);
      padding: 3rem;
    }
  }

  &__heading {
    text-shadow: $text-shadow-primary;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__adult-media {
    color: $color-bg-opposite;
  }

  &__descriptions {
    text-align: left;
    justify-self: center;
    color: $color-bg-opposite-dim;
  }

  &__first-amendment {
    max-width: $layout-max-text-width;
    margin: 0;
    color: $color-bg-opposite;
  }

  &__viewer-discretion {
    font-size: 1.1rem;
    font-weight: normal;
    color: $color-warning-red;
  }

  &__actions {
    display: grid;
    gap: 1rem;
    @media (min-width: $layout-max-text-width) {
      grid-auto-flow: column;
      justify-content: center;
    }
  }

  &__age-disclaimer {
    max-width: $layout-max-text-width;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-style: italic;
    color: $color-bg-mid;
  }
}
