$color-primary: rgba(255, 0, 0, 1);
$color-primary-dim: rgba(200, 0, 0, 1);
$border-primary: 2px solid $color-primary;

$color-bg: #000;
$color-bg-dim: #222;
$color-bg-mid: #888;
$color-bg-opposite: #fff;
$color-bg-opposite-dim: #ccc;
$color-bg-primary: rgba(20, 0, 0, 0.95);
$color-bg-primary-dim: rgba(255, 0, 0, 0.1);
$border-bg: 1px solid $color-bg-dim;

$color-secondary: rgba(0, 255, 0, 1);
$color-secondary-dim: rgba(0, 200, 0, 1);
$border-secondary: 2px solid $color-secondary;

$box-shadow-primary: 0 0 1rem rgba(255, 0, 0, 0.5);
$box-shadow-secondary: 0 0 1rem rgba(0, 255, 0, 0.5);

$text-shadow-primary: 0 0 .75rem rgba(255, 0, 0, 0.5);
$text-shadow-secondary: 0 0 .75rem rgba(255, 0, 0, 0.9);

$font-primary: 'Courier New', monospace;
$font-secondary: Arial, Helvetica, sans-serif;

$transition-primary: all 0.1s ease-in-out;

$padding-primary: 2rem;
$padding-btns-inputs: 0.8rem 1.2rem;

$layout-max-text-width: 600px;
$layout-min-hide-on-mobile: 600px;

$state-active-transform: translateY(1px);

$color-warning-red: #ff4444;
$o32c-red: rgba(204, 3, 44, 1); //032c red :)
// $matrix-red-soft-glow: rgba(255, 0, 0, 0.3);
