@mixin core-spin() {
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(min(40vh, 40vw) * -1);
    margin-left: calc(min(40vh, 40vw) * -1);
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
    z-index: -1;
    background-image: linear-gradient(
      rgba(255, 0, 0, 0.25),
      rgba(255, 255, 0, 0.15)
    );
    animation: rotate 8s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: all 0.5s ease-out;
    filter: blur(200px);
  }
}
