---
layout: default
# individual pages for each gallery
header:
    title: default
    background-color: "black"
---
<ul class="clearing-thumbs thumbnail-grid" data-clearing>
	{% for image in page.images %}
	<a href="{{ image }}">
		{% if page.captions[image] == nil %}
		<img class="thumbnail" data-caption="<a class='clearing-link' href='/contact/'>Ask me about this work</a>" src="thumbs/{{ image }}">
		{% else %}
		<img class="thumbnail" data-caption="{{ page.captions[image] }}.  <a class='clearing-link' href='/contact/'>Ask me about this work</a>" src="thumbs/{{ image }}" alt="{{ page.captions[image] }}" title="{{ page.captions[image] }}">
		{% endif %}
	</a>
	{% endfor %}
</ul>
<div id="spinner"></div>

{{ page.description }}
