---
layout: default
# main index of galleries
---
<div class="thumbnail-grid" data-clearing role="grid" aria-label="Gallery index">
    <!-- Social Media Tile (First tile) -->
    {% include social-tile.html %}
    
    {% for gallery in page.galleries %}
    <a href="{{ gallery['link'] }}" class="gallery-item--link">
        <img class="thumbnail" src="{{ gallery['link'] }}thumbs/front_{{ gallery['best_image'] }}">
        <h3 class="gallery-item--link__label">{{ gallery["title"] }}</h3>
    </a>
    {% endfor %}
</div>
