---
layout: default
# main index of galleries
---
<div class="gallery-grid" data-clearing role="grid" aria-label="Gallery index">
    <!-- Social Media Tile (First tile) -->
    {% include gallery-tile-social.html %}

    {% for gallery in page.galleries %}
    <a href="{{ gallery['link'] }}" class="gallery-tile gallery-tile--link">
        <img class="gallery-tile__thumbnail" src="{{ gallery['link'] }}thumbs/front_{{ gallery['best_image'] }}">
        <h3 class="gallery-tile__label">{{ gallery["title"] }}</h3>
    </a>
    {% endfor %}
</div>
