---
layout: default
# This page is used for the main index of galleries
---

<div class="thumbnail-grid" data-clearing role="grid" aria-label="Gallery index">
    <!-- Social Media Tile (First tile) -->
    {% include social-tile.html %}
    
    {% for gallery in page.galleries %}
    <li>
    <a href="{{ gallery['link'] }}">
        <img class="gallery-best-image" src="{{ gallery['link'] }}/thumbs/front_{{ gallery['best_image'] }}">
    </a>
    <h3><a href="{{ gallery['link'] }}">{{ gallery["title"] }}</a></h3>
    </li>
    {% endfor %}
</div>
