---
layout: default
# This page is used for the main index of galleries
---

<div class="thumbnail-grid" data-clearing role="grid" aria-label="Gallery index">
    <!-- Social Media Tile (First tile) -->
    {% include social-tile.html %}
    
    {% for gallery in page.galleries %}
    <a href="{{ gallery['link'] }}" class="gallery-link">
        <img class="thumbnail" src="{{ gallery['link'] }}/thumbs/front_{{ gallery['best_image'] }}">
        <h3 class="thumbnail-label">{{ gallery["title"] }}</h3>
    </a>
    {% endfor %}
</div>
